extends ../../../master-dashboard

block content
	div.mdl-cell.mdl-cell--12-col
		h3(style='text-align:center') Semester Feedback
	div.mdl-cell.mdl-cell--12-col
		div.mdl-cell.mdl-cell--12-col.center
			if feedbacks != undefined 
				if feedbacks != null
					each feedback in feedbacks
						br
						div.mdl-grid.application
							div.mdl-cell.mdl-cell--11-col.center
								div.mdl-grid
									div.mdl-cell.mdl-cell--3-col.head Course ID :
									div.mdl-cell.mdl-cell--9-col.value #{feedback.courseID}
									
									div.mdl-cell.mdl-cell--3-col.head Course Section :
									div.mdl-cell.mdl-cell--9-col.value #{feedback.section}
									
									div.mdl-cell.mdl-cell--3-col.head Feedback :
									div.mdl-cell.mdl-cell--9-col.value #{feedback.responses}
									
									div.mdl-cell.mdl-cell--3-col.head Date of feedback :
									div.mdl-cell.mdl-cell--9-col.value #{feedback.createdOn}	

				else
					br
					h6 No feedbacks

			else
				br
				h6 No feedbacks					
												

