extends ../../../master-dashboard

block content
	style.
		.custom_header {
			font-size: 0.9375rem;
			font-weight: bold;
		}
		.custom {
			-ms-word-break: break-all;
			word-break: break-all;
			word-break: break-word;

			-webkit-hyphens: auto;
			-moz-hyphens: auto;
			-ms-hyphens: auto;
			hyphens: auto;
		}
	div.mdl-cell.mdl-cell--12-col
		.mdl-grid
			.mdl-cell.mdl-cell--4-col.mdl-cell--middle
				button.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect(onclick='window.location.replace("#{rootURL}/feedbacks-prof")')
					i.material-icons arrow_back
			.mdl-cell.mdl-cell--4-col
				h3 Semester Feedback
	div.mdl-cell.mdl-cell--12-col
		center
			table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
				tbody
					tr
						td.mdl-data-table__cell--non-numeric.custom_header Course ID
						td.mdl-data-table__cell--non-numeric #{feedback.courseID}
					tr
						td.mdl-data-table__cell--non-numeric.custom_header Section
						td.mdl-data-table__cell--non-numeric #{feedback.section}
					tr
						td.mdl-data-table__cell--non-numeric.custom_header Feedback
						td.mdl-data-table__cell--non-numeric(style="white-space:normal!important;") #{feedback.responses}
