extends ../master-dashboard

block content
	div.mdl-cell.mdl-cell--12-col.pushit
		.mdl-grid.mdl-grid--no-spacing
			.mdl-cell.mdl-cell--12-col
				h5 Welcome to Instruction Division!
			.mdl-cell.mdl-cell--12-col
				p We arranged everything for you in a simple interface.
		.mdl-grid
			.mdl-cell.mdl-cell--4-col
				h5 Get Started
				//- i.material-icons.md-18 keyboard_arrow_left
				| Use the sidebar to access different portals.
				//- button.mdl-button.mdl-js-button.mdl-js-ripple-effect.center
				//- p #{user.name}
			.mdl-cell.mdl-cell--4-col
				h5 Access Moodle
				p To access CMS proceed by clicking the button below
				button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(onclick="window.location.replace('http://id.bits-hyderabad.ac.in/moodle/')") Moodle CMS
			.mdl-cell.mdl-cell--4-col
				h5 Access Biometric Attendance
				p Access the biometric attendance recorded for each student.
				button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored(onclick="window.location.replace('http://bio.bits-hyderabad.ac.in/Bitsclassroom/login.aspx')") Biometric Dashboard

