extends ../../../master-dashboard

block content
	style.
		td {
		cursor: pointer;
		}
	div.mdl-cell.mdl-cell--12-col
		h3(style='text-align:center') Project Allotment
		p(style='text-align:center') Creating a new Project
	div.mdl-cell.mdl-cell--12-col
		h5(style='text-align:center') 
	div.mdl-cell.mdl-cell--12-col
		center
			div
				form(action="#{rootURL}/project-allotment-prof-create/create", method="post", name="form1" id="form1")
					div.mdl-grid
						div.mdl-cell.mdl-cell--12-col
							.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
								input#title.mdl-textfield__input(type='text', name='title')
								label.mdl-textfield__label(for='title') Title of your Project
						.mdl-cell.mdl-cell--12-col
							.mdl-textfield.mdl-js-textfield
								textarea#description.mdl-textfield__input(type='text', rows='3',name='description')
								label.mdl-textfield__label(for='description') Type your Project Description / Prerequisites
						.mdl-cell.mdl-cell--12-col
							.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.getmdl-select.getmdl-select__fix-height.mdc-form-field.getmdl-select__fullwidth
								input#projectType.mdl-textfield__input(type='text', value='Lab Project (LP)', readonly='', tabindex='-1', name='projectType')
								label(for='projectType')
									i.mdl-icon-toggle__label.material-icons keyboard_arrow_down
								label.mdl-textfield__label(for='projectType') Project Type
								ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu(for='projectType')
									li.mdl-menu__item(data-val='lop') Lab Project (LP)
									li.mdl-menu__item(data-val='dop') Design Project (DP)
									li.mdl-menu__item(data-val='sop') Study Project (SP)
					.mdl-cell.mdl-cell--12-col
						button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(type='submit', name='action') Create Project
								