extends ../../../master-dashboard

block content

    .mdl-grid
        center
            h2 academic-records
            h6
                | Forms for Academic Records:
                br
                a(href="academic-records/Off-Campus-Form-A", target="_blank") Off-Campus-Form-A
            hr 