doctype html
html
	
	head
		title Dashboard
		link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
		link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.indigo-pink.min.css')
		link(rel='stylesheet', href='/stylesheets/dashboard.css')
		script(defer='', src='https://code.getmdl.io/1.3.0/material.min.js')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

	body
		// Layout start
		.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header


			// Header start
			header.mdl-layout__header
				.mdl-layout-icon
				.mdl-layout__header-row
					span.mdl-layout__title Dashboard
					.mdl-layout-spacer


			// Side Drawer Start
			.mdl-layout__drawer

				// Side drawer header
				.side-header
					img(src='/images/user.png', width='20%')
					span  #{user.name}

					// Side drawer account menu
					button#account-menu.mdl-button.mdl-js-button.mdl-button--icon
						i.material-icons arrow_drop_down
					ul.mdl-menu.mdl-js-menu.mdl-js-ripple-effect.mdl-menu--bottom-right(for='account-menu')
						li(class="mdl-menu__item" onclick="window.location.replace('#{logoutRoute}')") Logout					
				//Side Drawer Navigation
				nav.mdl-navigation
					each portal in portals
						a.mdl-navigation__link(href='#')
							i.material-icons cake
							|  #{portal.name}
							

			// Main Content
			main.mdl-layout__content
				.mdl-grid
					block content