extends ../../../master-dashboard

block content
	script(type='text/javascript').
		document.getElementsByClassName('mdl-navigation__link menuselectify')[0].classList.remove('menuselectify')
		document.getElementById('room-booking-student').classList.add('menuselectify')

	link(href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en', rel='stylesheet', type='text/css')
	link(rel='stylesheet', href='/stylesheets/date-picker/mdDateTimePicker.css')

	div.mdl-cell.mdl-cell--12-col.center
		div#demo-stepper-linear.mdl-stepper.mdl-stepper--linear.mdl-stepper--horizontal(data-upgraded=',MaterialStepper')
			div.mdl-step.is-active
				span.mdl-step__label
					span.mdl-step__title
						span.mdl-step__title-text Provide Details
					span.mdl-step__label-indicator
						span.mdl-step__label-indicator-content 1
				.mdl-step__content
					div
						h4 Room Booking
						p Provide the following details before proceeding.
						form(action="#{rootURL}/room-booking-student/step-2", method="post", id="form1").mdc-form-field
							.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
								input#capacity.mdl-textfield__input(type='text', pattern='-?[0-9]*(\.[0-9]+)?', name='capacity')
								label.mdl-textfield__label(for='capacity') Seating Capacity
								span.mdl-textfield__error Input is not a number!
							br
							.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
								input#date.mdl-textfield__input(type='text', name='date')
								label.mdl-textfield__label(for='date') Date
							br
							.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
								input#time-start.mdl-textfield__input(type='text', name='time-start')
								label.mdl-textfield__label(for='time-start') Start Time
							br
							.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
								input#time-end.mdl-textfield__input(type='text', name='time-end')
								label.mdl-textfield__label(for='time-end') End Time
							br
							.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
								textarea#purpose.mdl-textfield__input(type='text', rows='3', name='purpose')
								label.mdl-textfield__label(for='purpose') Room Booking Purpose
							br
							.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
								input#phone.mdl-textfield__input(type='text', pattern='-?[0-9]*(\.[0-9]+)?', name='phone')
								label.mdl-textfield__label(for='phone') Phone Number
								span.mdl-textfield__error Input is not a number!
							br
							.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.getmdl-select.getmdl-select__fix-height.mdc-form-field.getmdl-select__fullwidth
								input#av.mdl-textfield__input(type='text', readonly='', tabindex='-1', name='av')
								label(for='sample2')
									i.mdl-icon-toggle__label.material-icons keyboard_arrow_down
								label.mdl-textfield__label(for='av') Audio Visual Equipment Required
								ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu(for='av')
									ul
										li.mdl-menu__item Yes
										li.mdl-menu__item No 							
				.mdl-step__actions
					button.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--colored.mdl-button--raised(data-stepper-next='', data-upgraded=',MaterialButton,MaterialRipple',type="submit",form="form1")
						| Continue
						span.mdl-button__ripple-container
							span.mdl-ripple
					button.mdl-button.mdl-js-button.mdl-js-ripple-effect(data-stepper-cancel='', data-upgraded=',MaterialButton,MaterialRipple', onclick="window.location.replace('#{rootURL}')")
						| Cancel
						span.mdl-button__ripple-container
							span.mdl-ripple
			div.mdl-step
				span.mdl-step__label
					span.mdl-step__title
						span.mdl-step__title-text Select Room
					span.mdl-step__label-indicator
						span.mdl-step__label-indicator-content 2
			div.mdl-step
				span.mdl-step__label
					span.mdl-step__title
						span.mdl-step__title-text Confirm
					span.mdl-step__label-indicator
						span.mdl-step__label-indicator-content 3

	script(src='/scripts/date-picker/moment.min.js')
	script(src='/scripts/date-picker/scroll-into-view-if-needed.min.js')
	script(src='/scripts/date-picker/draggabilly.pkgd.min.js')
	script(src='/scripts/date-picker/mdDateTimePicker.min.js')
	script(type='text/javascript').
		(function() {
		
		var datePicker = new mdDateTimePicker.default({
			type: 'date',
			past: moment(),
			future: moment().add(6, 'months')
		});

		var startTimePicker = new mdDateTimePicker.default({
			type: 'time',
			mode: true
		});

		var endTimePicker = new mdDateTimePicker.default({
			type: 'time',
			mode: true
		});

		startTimePicker.time = moment();
		endTimePicker.time = moment();

		document.getElementById('date').addEventListener('focus', function() {
			datePicker.toggle();
		});

		document.getElementById('time-start').addEventListener('focus', function() {			
			startTimePicker.toggle();
		});

		document.getElementById('time-end').addEventListener('focus', function() {			
			endTimePicker.toggle();
		});

		datePicker.trigger = document.getElementById('date');
		startTimePicker.trigger = document.getElementById('time-start');
		endTimePicker.trigger = document.getElementById('time-end');

		document.getElementById('date').addEventListener('onOk', function() {
			this.value = moment(datePicker.time).format('ddd DD MMM YYYY');
			this.parentNode.classList.add('is-dirty');
		});

		document.getElementById('time-start').addEventListener('onOk', function() {
			this.value = moment(startTimePicker.time).format('HH:mm');
			this.parentNode.classList.add('is-dirty');
		});

		document.getElementById('time-end').addEventListener('onOk', function() {
			this.value = moment(endTimePicker.time).format('HH:mm');
			this.parentNode.classList.add('is-dirty');
		});
		}).call(this);