html
	head
		title Configuration
		style.
			
			#container {
				width: 50%;
				text-align: center;
			}

			#submit {
				width: 50%;
				height: 30px;
			}

			textarea {
				width: 50%;
			}
	
	body
		center
			h1 config.js Generator
			p config.js was found in the root directory. Use the generator below to generate the same. After the file has been generated, place it in the root directory of the project and restart the server.

			div#container
				form#config-form(method="POST", action="/generate")
					fieldset
						br
						legend Authentication
						| App Client ID
						br
						textarea#appID(name='appID')
						br
						br
						| App Client Secret
						br
						textarea#appSecret(name='appSecret')
					br
					br
					fieldset
						br
						legend Misc.
						| MongoDB Connection String
						br
						textarea#connectionString(name='connectionString')
							|mongodb://127.0.0.1/ID-dev
						br
						br
						| Site Root (eg: http://localhost:3000)
						br
						textarea#siteRoot(name='siteRoot')
					br
					br
					fieldset
						br
						legend Mailer
						| Email ID
						br
						textarea#mail(name='mail')
							|idfeedback@hyderabad.bits-pilani.ac.in
						br
						br
						| Mail Refresh Token
						br
						textarea#refreshToken(name='refreshToken')
						br
						br
						| Port
						br
						textarea#port(name='port')
						br
						br
						| Secure
						br
						select#secure(name='secure')
							option(value='true') True
							option(value='false') False
					br
					br
					button#submit(type='submit') Generate
					br
