.body-container
		.article-page
		.article-page--splash_image-container
			.article-page--splash_image(style='background-image: url(https://storage.googleapis.com/gd-wagtail-prod-assets/images/The-New-Industrialists-2x1.max-4000x2000.jpegquality-90.jpg);')
		.article-page--main.mdc-layout-grid.js-share-fab-parent
			.fab.js-share-fab.mdc-fab.mdc-ripple-surface.js-fab--black.mdc-ripple-upgraded(style='background-color: rgb(237, 194, 117); --mdc-ripple-surface-width:56px; --mdc-ripple-surface-height:56px; --mdc-ripple-fg-size:33.6px; --mdc-ripple-fg-scale:2.65464; top: -28px; transform: translate3d(0px, 0px, 0px);', data-fab-color=' edc275 ')
				._wrapper
					button._toggle.-hc.js-share-fab-toggle(aria-expanded='false', aria-controls='fab-content')
						span.share-icon(focusable='false')
							span._path.-line.-top
							span._path.-line.-bottom
							span._path.-joint.-top
							span._path.-joint.-middle
							span._path.-joint.-bottom
					#fab-content._content.js-share-fab-content(aria-hidden='true')
						h2._title Share
						ul._list
							li._item
								a(href='https://plus.google.com/share?url=https://design.google/library/new-industrialists/', target='_blank', data-g-category='social', data-g-action='share', data-g-label='social network: Google+')
									span._social-icon
										svg.svg-icon.svg-google-plus(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 24 24', enable-background='new 0 0 24 24', xml:space='preserve')
											path(fill='none', d='M0 0h24v24H0V0z')
											path._fill-color(opacity='', fill='', d='M23 11h-2V9h-2v2h-2v2h2v2h2v-2h2M8 11v2.4h4c-.2 1-1.2 3-4 3-2.4 0-4.3-2-4.3-4.4S5.6 7.6 8 7.6c1.4 0 2.3.6 2.8 1.1l1.9-1.8C11.5 5.7 9.9 5 8 5c-3.9 0-7 3.1-7 7s3.1 7 7 7c4 0 6.7-2.8 6.7-6.8 0-.5 0-.8-.1-1.2H8z')
											path(fill='none', d='M1 5h14v14H1z')
									| Google+
							li._item
								a(href='https://www.facebook.com/sharer/sharer.php?u=https://design.google/library/new-industrialists/', target='_blank', data-g-category='social', data-g-action='share', data-g-label='social network: Facebook')
									span._social-icon
										svg.svg-icon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='-627 309 24 24', style='enable-background:new -627 309 24 24;', xml:space='preserve')
											path._fill-color(opacity='', fill='', d='M-613.4,330.2v-8.4h3l0.4-3.3h-3.5v-2c0-1,0.3-1.6,1.7-1.6h1.9v-2.9c-0.4-0.1-1.4-0.1-2.7-0.1c-2.7,0-4.5,1.5-4.5,4.3v2.4 h-3v3.3h3v8.4L-613.4,330.2L-613.4,330.2z')
									| Facebook
							li._item
								a(href='https://twitter.com/intent/tweet?text=Mapping+the+intersection+of+tech+and+design+in+Pittsburgh https://design.google/library/new-industrialists/ by @GoogleDesign', target='_blank', data-g-category='social', data-g-action='share', data-g-label='social network: Twitter')
									span._social-icon
										svg.svg-icon.svg-twitter(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 24 24', enable-background='new 0 0 24 24', xml:space='preserve')
											g
												rect(x='0', fill='none', width='24', height='24')
												g
													g
														rect(x='0', fill='none', width='24', height='24')
													path._fill-color(opacity='', fill='', d='M1,18.9c1.94,1.23,4.17,2.22,7.25,2.09c7.46-0.34,12.46-5.69,12.57-13.51C21.62,6.8,22.57,6,23,5.1\
													c-0.69,0.35-1.51,0.57-2.43,0.7c0.84-0.62,1.53-1.38,1.89-2.49c-0.87,0.46-1.77,0.88-2.88,1.09c-2.62-3.18-8.9-0.61-7.8,4.12\
													c-4.41-0.27-7.1-2.27-9.34-4.72c-1.28,2.07-0.17,5.2,1.34,6.06C3,9.82,2.41,9.58,1.85,9.32c0.08,2.6,1.51,3.85,3.52,4.52\
													C4.76,13.97,4.08,14,3.43,13.89c0.62,1.82,1.94,2.96,4.17,3.18C6.09,18.36,3.27,19.27,1,18.9z')
									| Twitter
							li._item
								a(href='mailto:?subject=Mapping+the+intersection+of+tech+and+design+in+Pittsburgh&body=https://design.google/library/new-industrialists/', target='_blank', data-g-category='social', data-g-action='share', data-g-label='social network: Email')
									span._social-icon
										svg.svg-icon.svg-email(width='20', height='16', viewbox='0 0 20 16', xmlns='http://www.w3.org/2000/svg')
											path._fill-color(d='M18 0H2C.895 0 .01.896.01 2L0 14c0 1.104.895 2 2 2h16c1.104 0 2-.896 2-2V2c0-1.104-.896-2-2-2zm0 4l-8 5-8-5V2l8 5 8-5v2z', fill='', opacity='', fill-rule='evenodd')
									| Email
			.article-page--header.mdc-layout-grid__cell.mdc-layout-grid__cell--span-10
				.article-page--header-title
					h1 The New Industrialists
			.article-page--subheader.mdc-layout-grid__cell.mdc-layout-grid__cell--span-10
				h2  Mapping the intersection of tech and design in Pittsburgh
				h2
			.article-page--bylines.mdc-layout-grid__cell.mdc-layout-grid__cell--span-10
				.contributors
					.contributor
						| By
						| Amber Bravo and
						| Bryn Smith
					.contributor
						| Photography by
						| Ross Mantle
			.article-page--copy.mdc-layout-grid__cell.mdc-layout-grid__cell--span-10
				.body
					.body-section.paragraph
						.rich-text
							p
								| On September 19, 1982, a group of academics at Carnegie Mellon University in Pittsburgh, PA, were casually debating the best way to signal a joke on their online message board. An asterisk was considered then thrown out, as was an ampersand, even a pound symbol. But research professor Scott Fahlman had another idea:
					.body-section.inline-text-box(style='background-color: #E8EAED')
						.rich-text
							p I propose...the following character sequence for joke markers:
							p :-)
							p Read it sideways. 
					.body-section.paragraph
						.rich-text
							p
								| And so the emoticon was born. A simple way of humanizing the mirthless text fields of early b-boards that would alter our online lexicography forever. But what’s also remarkable about this funny, esperanto-like sequence of characters is that it succinctly captures why you can’t take the personal out of the digital. As our tools become more sophisticated, our communication more fluid and boundless, we continue to encounter the limitations and the occasional unintended byproducts of our augmented capability.
					.body-section.js-image
						.close-button
							i.material-icons close
						.body-section--image
							img(src='https://storage.googleapis.com/gd-wagtail-prod-assets/original_images/The-New-Industrialists-Inline001.jpg')
						.body-section--image-subtitle
							.rich-text
								p South Side Slopes neighborhood, Pittsburgh
					.body-section.paragraph
						.rich-text
							p
								| For this year’s 
								a(href='http://design.google/span207', data-g-category='outbound links', data-g-action='page interaction', data-g-label='outbound link: http://design.google/span207', target='_self') SPAN conference
								| , we wanted to untangle what it really means for machines and humans to interact meaningfully, and explore the strategies designers use to influence and organize those transactions to be more efficient, more critical, and sometimes, just more beautiful. Pittsburgh, with its roots in industrial innovation and investment in new technology provides a fitting venue—
								a(href='https://www.ri.cmu.edu/', data-g-category='outbound links', data-g-action='page interaction', data-g-label='outbound link: https://www.ri.cmu.edu/', target='_blank') CMU’s Robotics Institute
								|  was the first of its kind at any American university, and the city itself is often used as a defacto applied research lab. Through the group of contributors represented in this volume, whose work maintains a direct or adjacent connection to the city, Pittsburgh’s uniqueness is brought into focus. We look to the work of 
								a(href='https://design.google/span2017/pittsburgh/madeline-gannon/', data-g-category='outbound links', data-g-action='page interaction', data-g-label='outbound link: https://design.google/span2017/pittsburgh/madeline-gannon/', target='_self') Madeline Gannon
								|  whose design and research probes the possibility of human obsolescence in the face of automation. Demonstrating a counter-narrative, she programmed an industrial robot—named Mimus—to behave like a creature, and exhibited it for five months in a gallery space at the London Design Museum. In her artist’s statement Gannon writes:
					.body-section.inline-text-box(style='background-color: #E8EAED')
						.rich-text
							p
								i
									| To cultivate empathy between visitors and the robot, we have designed [Mimus’s] movements to mimic how a captive animal might behave in a similar scenario...the robot may seem curious or shy; excited or indifferent; playful or agitated… Creating human-centered interfaces that cultivate one’s personal connection to this machine, we aimed to show that a robot has the potential to be a companion, an apprentice, a collaborator or a partner in what we do.
					.body-section.paragraph
						.rich-text
							p
								| Gannon’s small, but strategic adaptations to current automation systems, illustrate how we can build machines to be more than highly capable surrogates, while simultaneously suggesting how thin and blurry the line between our utopic and dystopic digital future may be. Others in the field are working to uncover new ways of partnering with our digital progeny. Blaise Agüera y Arcas, who leads Google’s Machine Intelligence group, offers 
								a(href='https://medium.com/artists-and-machine-intelligence/what-is-ami-ccd936394a83', data-g-category='outbound links', data-g-action='page interaction', data-g-label='outbound link: https://medium.com/artists-and-machine-intelligence/what-is-ami-ccd936394a83', target='_blank') a measured view
								|  on his team’s mission to unite artists and machines: “Any artistic gesture toward machine intelligence — whether negative, positive, both, or neither — seems likelier to withstand the test of time if it’s historically grounded and technically well informed.” In other words, to wander blithely into the world of AI is misguided and will most certainly yield unintended results. The work of 
								a(href='https://design.google/span2017/pittsburgh/luis-von-ahn/', data-g-category='outbound links', data-g-action='page interaction', data-g-label='outbound link: https://design.google/span2017/pittsburgh/luis-von-ahn/', target='_self') Luis von Ahn
								|  mines contiguous terrain—his CAPTCHAs [Completely Automated Public Turing test to tell Computers and Humans Apart] ask us to declare our collective humanity by checking the “I’m not a robot” box over 200 million times a day, proving that it is the combined power of humans and computers that will solve our most complex problems. More recently, his language learning app 
								a(href='https://www.duolingo.com/', data-g-category='outbound links', data-g-action='page interaction', data-g-label='outbound link: https://www.duolingo.com/', target='_blank') Duolingo
								|  shows promise for the ways in which technology can help us transcend long-standing barriers in socio-economic equality through truly global and accessible communication.
					.body-section.js-image
						.close-button
							i.material-icons close
						.body-section--image
							img(src='https://storage.googleapis.com/gd-wagtail-prod-assets/original_images/The-New-Industrialists-Inline002.jpg')
						.body-section--image-subtitle
							.rich-text
								p
									| Clockwise from top left: A painted wall at the 
									a(href='https://www.duolingo.com/', data-g-category='outbound links', data-g-action='page interaction', data-g-label='outbound link: https://www.duolingo.com/', target='_blank') Duolingo
									|  office, Luis von Ahn, the George Westinghouse Memorial Bridge spanning the Turtle Creek Valley in East Pittsburgh
					.body-section.paragraph
						.rich-text
							p
								| For their part, our SPAN speakers and collaborators address these tensions and are pushing the boundaries of how we produce and interact with new technologies, often melding a variety of skillsets—be it design, engineering, computer science, robotics, research, and writing. The artist 
								a(href='https://design.google/span2017/pittsburgh/jon-rubin/', data-g-category='outbound links', data-g-action='page interaction', data-g-label='outbound link: https://design.google/span2017/pittsburgh/jon-rubin/', target='_self') Jon Rubin
								| , for example, enriches his work with layers of interaction and context—whether it’s creating a restaurant whose concept is based on political conflict, or a billboard that programmatically messages ideas from various collaborators. His work is as much a forum, as it is an artifact. Artist 
								a(href='https://design.google/span2017/pittsburgh/mimi-onuoha/', data-g-category='outbound links', data-g-action='page interaction', data-g-label='outbound link: https://design.google/span2017/pittsburgh/mimi-onuoha/', target='_self') Mimi Onuoha
								|  explores the rich territory between data and identity—an area that deserves our increased attention. While 
								a(href='https://design.google/span2017/pittsburgh/sara-hendren/', data-g-category='outbound links', data-g-action='page interaction', data-g-label='outbound link: https://design.google/span2017/pittsburgh/sara-hendren/', target='_self') Sara Hendren’s
								|  vital take on adaptive technologies reveals how our collective tendency to overlook matters of disability and assume that they have little relevance or impact on innovation for the broader population, is a troubling—and shortsighted—contemporary occurrence.
							p
								| Parsing and organizing the surfeit of information available to us is an endless task, and one that designers, information architects, and UXers are uniquely equipped to tackle. The challenge remains the same, it’s simply our containers that continue to change. In her forthcoming book 
								a(href='https://mitpress.mit.edu/books/architectural-intelligence', data-g-category='outbound links', data-g-action='page interaction', data-g-label='outbound link: https://mitpress.mit.edu/books/architectural-intelligence', target='_blank')
									i Architectural Intelligence
								| , 
								a(href='https://design.google/span2017/pittsburgh/molly-wright-steenson/', data-g-category='outbound links', data-g-action='page interaction', data-g-label='outbound link: https://design.google/span2017/pittsburgh/molly-wright-steenson/', target='_self') Molly Wright Steenson
								|  explores the ways in which early Information Architects grasped at the analogue discipline of traditional architecture to find nomenclature to adequately describe the character of their work. Steenson writes, “When non-architects adopt the term “architecture,” when they use “architect” as a verb, they are seeking ways to bring complicated issues into relation with each other.” A design conference, or even a book is yet another kind of container, in which physical adjacencies often spark connections between various lines of inquiry, much like the design (or editing) process itself.
					.body-section.js-image
						.close-button
							i.material-icons close
						.body-section--image
							img(src='https://storage.googleapis.com/gd-wagtail-prod-assets/original_images/The-New-Industrialists-Inline003.jpg')
						.body-section--image-subtitle
							.rich-text
								p
									| Clockwise from left: A detail from 
									a(href='https://design.google/span2017/pittsburgh/deeplocal/', data-g-category='outbound links', data-g-action='page interaction', data-g-label='outbound link: https://design.google/span2017/pittsburgh/deeplocal/', target='_self') Deeplocal's poster-making machine
									| , Molly Wright Steenson on the roof of her home studio, SPAN Pittsburgh attendees in the cafe
					.body-section.paragraph
						.rich-text
							p
								| Placing 
								a(href='https://design.google/span2017/pittsburgh/heather-kelley/', data-g-category='outbound links', data-g-action='page interaction', data-g-label='outbound link: https://design.google/span2017/pittsburgh/heather-kelley/', target='_self') Heather Kelley’s
								|  writing on the linkage between a German renaissance painter and the gendering of the first graphical user interface, near 
								a(href='https://design.google/span2017/pittsburgh/alex-wright/', data-g-category='outbound links', data-g-action='page interaction', data-g-label='outbound link: https://design.google/span2017/pittsburgh/alex-wright/', target='_self') Alex Wright’s
								|  historical research into the proto-internet creates a new context for both. Wright profiles early thinkers like Paul Otlet and Emanuel Goldberg, whose eerily prescient vision for how we might organize and consume information predates the World Wide Web by more than 90 years, not to mention the field of human-computer interaction itself. Wright recounts that Otlet, with backing by the Belgian government, was able to store more than 15 million entries on index cards, with a plan to grant anyone access to a vast archive of articles and photographs. Otlet literally envisioned the future, writing that “from a distance, everyone will be able to read text, enlarged and limited to the desired subject, projected on an individual screen. In this way, everyone from his armchair will be able to contemplate the whole of creation, in whole or in certain parts.”
					.body-section.js-image
						.close-button
							i.material-icons close
						.body-section--image
							img(src='https://storage.googleapis.com/gd-wagtail-prod-assets/original_images/The-New-Industrialists-Inline004.jpg')
						.body-section--image-subtitle
							.rich-text
								p
									| A group of SPAN Pittsburgh attendees at the 
									a(href='https://design.google/span2017/pittsburgh/ali-momeni/', data-g-category='outbound links', data-g-action='page interaction', data-g-label='outbound link: https://design.google/span2017/pittsburgh/ali-momeni/', target='_self') Ali Momeni
									|  workshop
					.body-section.paragraph
						.rich-text
							p
								| Google’s mission, then, is not far off from Otlet’s. “To organize the world’s information and make it universally accessible and useful” is a shared goal whose parameters keep shifting, depending on whom you ask, the context of time, and the limits of our technology. As designers and design thinkers, our role is to give shape to the future by building the connective tissue between technology and humans. Or as Gannon writes in her argument for designing machines with human sensibility and sensitivities, “design can challenge assumptions about the way things are and show ways in which they could be. As designers, we have the liberty to wander amongst different ‘silos’ of disciplinary knowledge and offer novel perspectives on entrenched problems. Our insatiable curiosity drives us to conceive and create worlds that are full of alternative futures.” Our goal in hosting a conference like SPAN is to create a forum for these ideas, an opportunity to surface the unique challenges that technology affords, and to provide a platform for practitioners that are meeting those challenges in remarkable ways.
							p
								i
									| This essay was originally published in our 
									a(href='https://design.google/span2017/', data-g-category='outbound links', data-g-action='page interaction', data-g-label='outbound link: https://design.google/span2017/', target='_self') SPAN 2017
									|  reader, a collection of essays and visual work from our speakers and collaborators. The accompanying photos were shot by Ross Mantle, who we commissioned to document the spirit of SPAN 2017 Pittsburgh. You can 
									a(href='https://photos.app.goo.gl/gCs3eT3vThHDSIKi1', data-g-category='outbound links', data-g-action='page interaction', data-g-label='outbound link: https://photos.app.goo.gl/gCs3eT3vThHDSIKi1', target='_blank') see Mantle’s full photo essay here
									| , and read more about our 
									a(href='https://design.google/library/first-edition/', data-g-category='outbound links', data-g-action='page interaction', data-g-label='outbound link: https://design.google/library/first-edition/', target='_self') 2015
									|  and 
									a(href='https://design.google/library/volume-two/', data-g-category='outbound links', data-g-action='page interaction', data-g-label='outbound link: https://design.google/library/volume-two/', target='_self') 2016
									|  editions of the SPAN reader.
							p
							p
							p
			// Footer Content
			.article-page--date.mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
				| 10/26/2017
			.article-page--tags.mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
				a.tag.mdc-ripple-surface.mdc-ripple-upgraded(href='/search/?q=SPAN', style='background-color: rgb(232, 234, 237); --mdc-ripple-surface-width:53.6094px; --mdc-ripple-surface-height:34px; --mdc-ripple-fg-size:32.1656px; --mdc-ripple-fg-scale:2.28449;', data-g-category='article tags', data-g-action='page interaction', data-g-label='tag: SPAN', target='_self') SPAN
				a.tag.mdc-ripple-surface.mdc-ripple-upgraded(href='/search/?q=UX', style='background-color: rgb(232, 234, 237); --mdc-ripple-surface-width:36.8125px; --mdc-ripple-surface-height:34px; --mdc-ripple-fg-size:22.0875px; --mdc-ripple-fg-scale:2.72152;', data-g-category='article tags', data-g-action='page interaction', data-g-label='tag: UX', target='_self') UX
			.article-page--contributors.mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
				h3 Contributors
				.contributor
					.contributor--image(style='background-image: url(https://storage.googleapis.com/gd-wagtail-prod-assets/original_images/amber-bravo.jpg)')
					.contributor--info
						.contributor--info-byline Amber Bravo
						.contributor--info-byline-role Creative Lead
						.contributor--info-byline-link
							a(href='http://twitter.com/amberbravo', target='_blank', data-g-category='outbound links', data-g-action='page interaction', data-g-label='outbound link: Contributor - Amber Bravo - @amberbravo')
								| @amberbravo
				.contributor
					.contributor--image(style='background-image: url(https://storage.googleapis.com/gd-wagtail-prod-assets/original_images/BrynSmith.jpg)')
					.contributor--info
						.contributor--info-byline Bryn Smith
						.contributor--info-byline-role
							a(href='/jobs/', target='_self') Editor
						.contributor--info-byline-link
							a(href='https://twitter.com/likeyoucare', target='_blank', data-g-category='outbound links', data-g-action='page interaction', data-g-label='outbound link: Contributor - Bryn Smith - @likeyoucare')
								| @likeyoucare
				.contributor
					.contributor--image(style='background-image: url(https://storage.googleapis.com/gd-wagtail-prod-assets/original_images/Avatar_Anonymous.jpg)')
					.contributor--info
						.contributor--info-byline Ross Mantle
						.contributor--info-byline-role Photographer
						.contributor--info-byline-link
							a(href='http://rossmantle.com/', target='_blank', data-g-category='outbound links', data-g-action='page interaction', data-g-label='outbound link: Contributor - Ross Mantle - rossmantle.com')
								| rossmantle.com
		.article-page--related.mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
			h3 Related
			ul.mdc-layout-grid
				li.article.gd-item.mdc-layout-grid__cell.mdc-layout-grid__cell--span-6.mdc-layout-grid__cell--span-4-tablet.mdc-ripple-surface.js-grid-item.mdc-ripple-upgraded(data-g-category='related content', data-g-action='page interaction', data-g-label='article: Revealing the Invisible', style='--mdc-ripple-surface-width:452.438px; --mdc-ripple-surface-height:476.953px; --mdc-ripple-fg-size:286.172px; --mdc-ripple-fg-scale:2.33219;')
					a(href='/library/revealing-invisible/', data-g-category='related content', data-g-action='page interaction', data-g-label='article: Revealing the Invisible', target='_self')
						.article--image(style='background-image: url(https://storage.googleapis.com/gd-wagtail-prod-assets/images/Data-Vis-3x2-v2.max-1200x800.jpegquality-90.jpg);', data-g-category='related content', data-g-action='page interaction', data-g-label='article: Revealing the Invisible')
						.article--content(data-g-category='related content', data-g-action='page interaction', data-g-label='article: Revealing the Invisible')
							.article--content-headline Revealing the Invisible
							.article--content-dek Using design to reshape how we experience data
							.article--content-tag Case study
				li.article.gd-item.mdc-layout-grid__cell.mdc-layout-grid__cell--span-6.mdc-layout-grid__cell--span-4-tablet.mdc-ripple-surface.js-grid-item.mdc-ripple-upgraded(data-g-category='related content', data-g-action='page interaction', data-g-label='article: Guide to SPAN Tokyo', style='--mdc-ripple-surface-width:452.438px; --mdc-ripple-surface-height:476.953px; --mdc-ripple-fg-size:286.172px; --mdc-ripple-fg-scale:2.33219;')
					a(href='/library/guide-span-tokyo/', data-g-category='related content', data-g-action='page interaction', data-g-label='article: Guide to SPAN Tokyo', target='_self')
						.article--image(style='background-image: url(https://storage.googleapis.com/gd-wagtail-prod-assets/images/guide_span_tokyo_3x2.max-1200x800.jpegquality-90.jpg);', data-g-category='related content', data-g-action='page interaction', data-g-label='article: Guide to SPAN Tokyo')
						.article--content(data-g-category='related content', data-g-action='page interaction', data-g-label='article: Guide to SPAN Tokyo')
							.article--content-headline Guide to SPAN Tokyo
							.article--content-dek
								| Watch archived video from our Tokyo event and get to know each of the speakers, including Deyan Sudjic, Mariya Suzuki, and Keiichi Tanaami
							.article--content-tag Guide
