extends ../../../master-dashboard

block content
	script(type='text/javascript').
		document.getElementsByClassName('mdl-navigation__link menuselectify')[0].classList.remove('menuselectify')
		document.getElementById('#{reqPortal}').classList.add('menuselectify')
	div.mdl-cell.mdl-cell--12-col.center
		h2 Teacher Assistantship Application
		h4 Course Work