extends ../../../master-dashboard

block content
	style.
		#formBG {
			box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
			margin: 5px;
			background: white;
			width: 100%;
		}
		.mdl-textfield {
			width: 600px
		}
		.mdl-button--file input {
		cursor: pointer;
		height: 100%;
		right: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		width: 300px;
		z-index: 4;
		}
		.mdl-textfield--file .mdl-textfield__input {
		box-sizing: border-box;
		width: calc(100% - 32px);
		}
		.mdl-textfield--file .mdl-button--file {
		right: 0;
		}
	script(type='text/javascript').
		document.getElementsByClassName('mdl-navigation__link menuselectify')[0].classList.remove('menuselectify')
		document.getElementById('#{reqPortal}').classList.add('menuselectify')
		window.onload = () => {
			$("#form1").validate({
				focusInvalid: true,
				onfocusout: false,
				rules: {
					cgpa : { required: true },
					reason : { required: true },
					hours : { required: true },
					fileitem2 : { required: true }
				},
				messages: {
					cgpa : { required: "Please type your CGPA!" },
					reason : { required: "Please type your Reason for Induction!" },
					hours : { required: "Please type the number of hours you are willing to contribute!" },
					fileitem2 : { required: "Please select a resume to upload!" }
				},
				errorPlacement: (err,ele) => {
					materialAlert('Induction Application',err[0].innerText,function(result){console.log(result)})
				}
			});
			}
	div.mdl-grid#formBG
		div.mdl-cell.mdl-cell--12-col.center
			h2 Inductions Application
			h4 Instruction Division Application Form (2017 Batch Only)
			hr
		div.mdl-cell.mdl-cell--12-col.center
			div.mdl-grid
				div.mdl-cell.mdl-cell--12-col.center
					form(action="#{rootURL}/#{reqPortal}/apply", method="post", id="form1" name="form1", enctype='multipart/form-data')
						.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
							input#cgpa.mdl-textfield__input(type='text', pattern='-?[0-9]*(\.[0-9]+)?', name='cgpa')
							label.mdl-textfield__label(for='CGPA') CGPA
							span.mdl-textfield__error Input is not a number!
						br
						.mdl-textfield.mdl-js-textfield
							textarea#reason.mdl-textfield__input(type='text', rows='5',name='reason')
							label.mdl-textfield__label(for='reason' style="white-space:normal!important;") In 100 to 150 words tell us why do you want to work with Instruction Division.
						br
						.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
							input#hours.mdl-textfield__input(type='text', name='hours', pattern='-?[0-9]*(\.[0-9]+)?')
							label.mdl-textfield__label(for='hours') Hours/Week Can You Spend For Instruction Division
							span.mdl-textfield__error Input is not a number!
						br
						.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
							input#github.mdl-textfield__input(type='text', pattern='^(https?|ftp|file)://[-a-zA-Z0-9+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9+&@#/%=~_|]', name='github')
							label.mdl-textfield__label(for='github') Github Profile Link
							span.mdl-textfield__error Not a valid GitHub Profile Link!
						br
						.mdl-textfield.mdl-js-textfield.mdl-textfield--file
							input#fileitem2.mdl-textfield__input(placeholder='No file chosen (Resume)', type='text', readonly='')
							.mdl-button.mdl-button--icon.mdl-button--file
								i.material-icons attach_file
								input#ID(type='file', name='resume', accept='.doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,.pdf' onchange="document.getElementById('fileitem2').value=this.files[0].name;")
						p File Size Limit is 10 MB. Files larger than 10 MB will be truncated.
						br
						.mdl-grid
							div.mdl-layout-spacer
							div.mdl-cell.mdl-cell--4-col
								label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect(for='nodejs')
									input#nodejs.mdl-checkbox__input(type='checkbox')
									span.mdl-checkbox__label(for='nodejs') Do you know Node.JS / JavaScript?
							div.mdl-layout-spacer
						br
						button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--primary(type='submit') Apply
