extends ../../../master-dashboard

block content
	div.mdl-cell.mdl-cell--12-col
		h2 Project Allotment
	div.mdl-cell.mdl-cell--12-col.center
		h4 Select Course code
		form(action="#{rootURL}/#{reqPortal}/update", method="post", name="form1" id="form1").mdc-form-field
			.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.getmdl-select.getmdl-select__fix-height.mdc-form-field.getmdl-select__fullwidth
				input#courseCode.mdl-textfield__input(type='text', value='. . .', readonly='', tabindex='-1', name='courseCode')
				label(for='courseCode')
					i.mdl-icon-toggle__label.material-icons keyboard_arrow_down
				label.mdl-textfield__label(for='courseCode') Select Course code
				ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu(for='courseCode')
					li.mdl-menu__item TEST F111 
					li.mdl-menu__item TEST F110
					li.mdl-menu__item TEST F112
	
	div.mdl-cell.mdl-cell--12-col.center		
	
			.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.getmdl-select.getmdl-select__fix-height.mdc-form-field.getmdl-select__fullwidth
					h6 Is it a Disciplinary Elective?

				label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='option1')
					input.mdl-radio__button(type='radio', id='option1', name='toggle')
					span.mdl-radio__label YES								

				label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='option2')
					input.mdl-radio__button(type='radio', id='option2', name='toggle', checked)
					span.mdl-radio__label NO					
			br
			br

			button.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--colored.mdl-button--raised(data-stepper-next='', data-upgraded='',MaterialButton,MaterialRipple,type="submit",form="form1")
				| Update