extends ../master-dashboard

block content      
	div.mdl-cell.mdl-cell--12-col
		h3(style='text-align:center') My Profile
		p(style='text-align:center') Contains all the courses and sections taken up.
	div.mdl-cell.mdl-cell--12-col
		center
			div
				div.table-responsive
					table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
						thead
							tr
								th.mdl-data-table__cell--non-numeric Course ID
								th.mdl-data-table__cell--non-numeric Course Name
								th.mdl-data-table__cell--non-numeric Section
						tbody
							each course in courses
									each section in course.sections
										tr
											td.mdl-data-table__cell--non-numeric #{course.courseID}
											td.mdl-data-table__cell--non-numeric #{course.name}
											td.mdl-data-table__cell--non-numeric #{section.section}		

