extends master-dashboard

block content
	div.mdl-cell.mdl-cell--12-col
		div.mdl-grid
			div.mdl-cell.mdl-cell--12-col
				h4.center Welcome to Timetable Division Collection Policy
				p When you use Timetable Division services, you trust us with your information. This Privacy Policy is meant to help you understand what data we collect, why we collect it, and what do we do with it. This is important; we hope you take your time to read it carefully.
				h5.center Information we collect
				p We collect information in the following ways:
				ul
					li <b>Information you give us.</b> For example when you use our Bug Reporting service we collect your username, your feedback and browser user-agent. We collect this based on your suggestion or bug report.
					li <b>Information which we get from your use of our service.</b> We collect information about the services that you use and how you use them, like when you use a portal, or view and interact with our content. This information includes:
						ul
							li <b>Device Information.</b> We collect device-specific information (such as your hardware model, operating system version, unique device identifiers, and mobile network information including phone number) using a 3rd party service called Google Analytics.
							li <b>Log information.</b> When you use our services or view content provided by Timetable Division, we automatically collect and store certain information in server logs. This includes:
							ul
								li details of how you used our service, such as our portals.
								li Internet protocol address.
								li Web Headers
								li All Web Requests (excluding portals which deny logging of such information)
								li Parameters being passed by your device to our website (excluding portals which deny logging of such information)
								li All attempts and connections made to our Timetable Division Servers on ports not specified for user use are silently logged without explicit message (excluding ports 80, 8080 and 443) (and if possible including your Cyberoam Account Username, Room Number which was used to attempt connection, Location of User on campus, MAC address and Device Descriptors based on alloted IP and time of connection)
				h5.center How we use information we collect
				p We believe in providing non-biased services to all students and faculty of Hyderabad Campus. In addition to that we strive to improve our services over time and based on your reports and feedback we tailor our targets and goals. The information we collect from you will be used to achieve the set goals.
				p Any misuse of our services by any student shall be dealt with serious consequences. On such conditions if found we shall provide full disclosure of the data collected specific to the individual to the respective departments involved in handling such matters.
				h5.center Information we share
				p We do not share personal information with companies, organizations and individuals outside of Timetable Division unless one of the following circumstances applies:
					ul
						li <b>Portals</b>
							p Portals which require to display data which you have explicitly provided to respective individuals.
						li <b>For legal reasons</b>
							p We will share personal information with companies, organizations or individuals outside of Timetable Division if we have a good-faith belief that access, use, preservation or disclosure of the information is reasonably necessary to:
								ul
									li meet any applicable law, regulation, legal process or enforceable governmental request.
									li enforce applicable Terms of Service, including investigation of potential violations.
									li detect, prevent, or otherwise address fraud, security or technical issues.
									li protect against harm to the rights, property or safety of Timetable Division, our users as required or permitted by law.
				h5.center Information security
				p We work hard to protect Timetable Division and our users from unauthorized access to or unauthorized alteration, disclosure or destruction of information we hold. In particular:
					ul
						li We encrypt many of our services using SSL.
						li We review our information collection, storage and processing practices, including physical security measures, to guard against unauthorized access to systems.
						li We restrict access to personal information to Timetable Division employees and student representatives who need to know that information in order to process it for us, and who are subject to strict contractual confidentiality obligations and may be disciplined or terminated if they fail to meet these obligations.
						