style.
    .special-footer {
    background: #2e2f33;
    color: white;
    padding:20px;
    overflow:hidden;
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.5);
    }
    .special-footer a {
    color: rgb(250, 250, 250);
    }
    .footer-icon {
    padding-right: 10px;
    font-size: inher48px;
    vertical-align: middle;
    }
    .footer-info{
    max-width:400px;
    text-align:justify;
    }
    .mdl-mega-footer__heading{
    font-size:20px !important;
    color:rgb(200,200,200) !important;
    }

.special-footer
  .mdl-grid
    .mdl-cell.mdl-cell--4-col
      h1.mdl-mega-footer__heading
        i.material-icons.footer-icon(style='') info
        |  About
      p.footer-info
        | This is the portal for Academic - Undergraduate Studies Division (AUGSD). The Office of AUGSD is
        | responsible for
        | various undegraduate academic activities. More information can about AUGSD can be found 
        a(href='https://universe.bits-pilani.ac.in/Hyderabad/augsd') here
        | .
    .mdl-cell.mdl-cell--4-col
      div
        h1.mdl-mega-footer__heading
          i.footer-icon.material-icons explore
          |                         Useful Links
        ul.mdl-mega-footer__link-list
          li
            a(href='#') AUGSD Portal Home
          li
            a(href='#') AUGSD Portal Dashboard
          li
            a(href='#') Feedback
          li
            a(href='#') Team
    .mdl-cell.mdl-cell--4-col
      h1.mdl-mega-footer__heading
        i.material-icons.footer-icon comment
        |                     Contact
      p
        | You are welcome to contact the Office of AUGSD via phone by dialing extension 
        a(href='tel://82704066303827') 827 (040-66303827)
        |  or
        |                     by sending email to 
        a(href='mailto:augsd@hyderabad.bits-pilani.ac.in') augsd@hyderabad.bits-pilani.ac.in
        | .
    hr
    .mdl-cell.mdl-cell--12-col © 2019 Birla Institute of Technology and Science - Pilani, Hyderabad Campus.
