doctype html
html(lang='en')
	include ./includes/home/html-head
	body
		.container
			.card.border-0.shadow.my-5
				.card-body.p-5
					h1.font-weight-light Error
					h4.font-weight-light Following errors occoured while processing your request
					ul
						for error in errors
							li #{error.msg}

	include ./includes/home/after-body
	if(redirect)
		meta(http-equiv="refresh" content="#{timeout}; url=#{redirect}")