doctype html
html(lang='en')
	include ./includes/home/html-head
	body
		include ./includes/home/nav-bar
		.container
			.card.border-0.shadow.my-5
				.card-body.p-5
					h1.font-weight-light Timetable & Examination Office
					h4.font-weight-light BITS Pilani - Hyderabad Campus
					br
					p
						| Timetable & Examination Office is a sub-division of BITS Pilani Hyderabad Campus. It oversees operations pertaining to Course Management System, Lecture Scheduling & Recording, Examination Scheduling & Biometric Attendance
	include ./includes/home/after-body