doctype html
html(lang='en')
	include ./includes/home/html-head
	body
		include ./includes/home/nav-bar
		.container
			.card.border-0.shadow.my-5
				.card-body.p-5					
					h1.font-weight-light Contact Us
					br
					.container-fluid
						.row
							.col-lg-4
								.card
									h5.card-header Address
									.card-body
										h5.card-title C317
										p.card-text BITS Pilani - Hyderabad Campus
							.col-lg-4
								.card
									h5.card-header Email
									.card-body
										h5.card-title timetable@hyderabad.bits-pilani.ac.in
							.col-lg-4
								.card
									h5.card-header Phone
									.card-body
										h5.card-title +91 040-6630-3802
										p.card-text Monday - Friday : 9 AM to 5 PM
										p.card-text Sarturday: 9 AM to 1 PM
					hr
					h1.font-weight-light Our Team
					br
					.container-fluid
						.row
							each user in users
								.col-lg-4
									.card.team-card
										img.card-img-top(src=user.avatar, alt=user.name, height=300)
										.card-body
											h5.card-title #{user.name}
											p.card-text #{user.title}

	include ./includes/home/after-body
	style.
		.team-card {
			margin: 5px;
		}