doctype html
html(lang='en')
	include ./includes/home/html-head
	body
		include ./includes/home/nav-bar
		.container
			.card.border-0.shadow.my-5
				.card-body.p-5					
					h1.font-weight-light Chose a Role
					br
					.container-fluid
						.row
							.col-lg-6(align="center")
								.card(style="width: 250px")
									img(src="/images/login/professor.png")
									h5.card-header Administration
									.card-body
										p.card-text Administrators, Faculty Members & Divisions
										a.btn.btn-primary(href='/admin') Login
							.col-lg-6(align="center")
								.card(style="width: 250px")
									img(src="/images/login/student.png")
									h5.card-header Student
									.card-body
										p.card-text Room Booking Service for Students
										a.btn.btn-primary(href='/dashboard') Login

	include ./includes/home/after-body