doctype html
html(lang='en')
	include ../../../includes/logged-in/html-head
	body
		include ../../../includes/logged-in/nav-bar
		.container
			.card.border-0.shadow.my-5
				.card-body.p-5
					h1.font-weight-light Timetable & Examination Office
					h4.font-weight-light BITS Pilani - Hyderabad Campus
					hr
					br
					h4 Room Booking - Holiday Management
					br
					div
						table.table.table-striped
							thead
								tr
									th(scope='col') Date
									th(scope='col') Description
									th(scope='col')
							tbody
								each holiday in holidays
									tr
										td #{holiday.date}
										td #{holiday.description}
										td
											a(href="./holidays/delete/" + holiday.id) Delete
					hr
					br
					div
						h5 Add Holiday
						form(action="./holidays/add" method="POST")
							input(type="date" class="form-control" id="date" name="date")
							br
							input(type="text" class="form-control" id="description" name="description" placeholder="Description (Optional)")
							br
							button(type="submit" class="btn btn-success") Add

	include ../../../includes/logged-in/after-body
