doctype html
html(lang='en')
	include ../../../includes/logged-in/html-head
	body
		include ../../../includes/logged-in/nav-bar
		.container
			.card.border-0.shadow.my-5
				.card-body.p-5
					h1.font-weight-light Timetable & Examination Office
					h4.font-weight-light BITS Pilani - Hyderabad Campus
					hr
					br
					h4 Room Booking - Timetable Exceptions
					br
					div
						table.table.table-striped
							thead
								tr
									th(scope='col') Date
									th(scope='col') Week Day
									th(scope='col')
							tbody
								each exception in exceptions
									tr
										td #{exception.date}
										td #{exception.weekDay}
										td
											a(href="./timetable-exceptions/delete/" + exception.id) Delete
					hr
					br
					div
						h5 Add Exception
						form(action="./timetable-exceptions/add" method="POST")
							input(type="date" class="form-control" id="date" name="date" required)
							br
							select#weekDay.form-control(name="weekDay")
								option(value="0") Monday
								option(value="1") Tuesday
								option(value="2") Wednesday
								option(value="3") Thursday
								option(value="4") Friday
								option(value="5") Saturday
							br
							button(type="submit" class="btn btn-success") Add

	include ../../../includes/logged-in/after-body
