link(rel="stylesheet", href="/stylesheets/footer.css")
footer.mdl-mega-footer
  .mdl-mega-footer__middle-section
    .mdl-mega-footer__drop-down-section
      input.mdl-mega-footer__heading-checkbox(type='checkbox', checked='true')
      h1.mdl-mega-footer__heading About Us
      ul.mdl-mega-footer__link-list
        p.footer-desc 
            |AUGS Division is a sub-division of BITS Pilani Hyderabad Campus. It oversees operations pertaining to Academic Instructor Feedback, Content Management System, Student Coursework, Biometric Attendance and Teaching Assistantship and formalizing Student-Professor projects.
    .mdl-mega-footer__drop-down-section
      input.mdl-mega-footer__heading-checkbox(type='checkbox', checked='')
      h1.mdl-mega-footer__heading Portal Links
      ul.mdl-mega-footer__link-list
        p.footer-desc
            | Quickly access the most important links for this portal.
        li
            a(href="/type") Dashboard
        li
            a(href="/team") Team
        
    .mdl-mega-footer__drop-down-section
      input.mdl-mega-footer__heading-checkbox(type='checkbox', checked='')
      h1.mdl-mega-footer__heading Contact Us
      ul.mdl-mega-footer__link-list
        p
            p.footer-desc Feel free to contact the AUGSD by any of the means below.
        li
          a(href='tel://1234567890')
          i.material-icons phone
          |07762-228045
        li
          a(href='mailto:augsd@hyderabad.bits-pilani.ac.in')
          i.material-icons mail
          |td@hyderabad.bits-pilani.ac.in
        li
          
          p.footer-desc
            i.material-icons map
            |Room C321, Birla Institute of Technology & Science, Pilani - Hyderabad, Shamirpet-Keesara Road, Jawahar Nagar, Shameerpet, Hyderabad, Telangana 500078

    .mdl-mega-footer__drop-down-section
      input.mdl-mega-footer__heading-checkbox(type='checkbox', checked='')
      h1.mdl-mega-footer__heading University Links
      ul.mdl-mega-footer__link-list
        p.footer-desc Links to related university sites.
        li
          a(href='#') BITS Pilani University Home
        li
          a(href='#') BITS Pilani, Hyderabad Campus Home
        li
          a(href='#') AUGSD Portal

