extends ../../../../master-dashboard

block content
   div.mdl-cell.mdl-cell--12-col.center
      div#demo-stepper-linear.mdl-stepper.mdl-stepper--linear.mdl-stepper--horizontal(data-upgraded=',MaterialStepper')
         div.mdl-step.is-active
            span.mdl-step__label
               span.mdl-step__title
                  span.mdl-step__title-text Select Room
               span.mdl-step__label-indicator
                  span.mdl-step__label-indicator-content 1
            .mdl-step__content
               form(action="#{rootURL}/control/room-map/step2", method="post", name="form1" id="form1").mdc-form-field
                     .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.getmdl-select.getmdl-select__fix-height.mdc-form-field.getmdl-select__fullwidth
                        input#rooms.mdl-textfield__input(type='text', value='. . .', readonly='', tabindex='-1', name='room')
                        label(for='rooms')
                           i.mdl-icon-toggle__label.material-icons keyboard_arrow_down
                        label.mdl-textfield__label Select Room
                        ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu(for='rooms')
                           each room in result
                              li.mdl-menu__item(data-val='#{room}') #{room} 
               
            .mdl-step__actions
               button.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--colored.mdl-button--raised(data-stepper-next='', data-upgraded=',MaterialButton,MaterialRipple',type="submit",form="form1")
                  | Continue
                  span.mdl-button__ripple-container
                     span.mdl-ripple
               button.mdl-button.mdl-js-button.mdl-js-ripple-effect(data-stepper-cancel='', data-upgraded=',MaterialButton,MaterialRipple', onclick="window.location.replace('#{rootURL}')")
                  | Cancel
                  span.mdl-button__ripple-container
                     span.mdl-ripple
         div.mdl-step
            span.mdl-step__label
               span.mdl-step__title
                  span.mdl-step__title-text Room Map
               span.mdl-step__label-indicator
                  span.mdl-step__label-indicator-content 2