p
    b BITS Id : 
    span 2018A7PS0267H
p
    b Application Status : 
    input(type="text" value="Created. Yet to be processed" class="application-status-edit")
p
    b Info : 
    textaerea(value="Created. Yet to be processed" class="application-info-edit")
