extends ../../../master-dashboard

block content
	style.
		.mdl-button--file input {
		cursor: pointer;
		height: 100%;
		right: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		width: 300px;
		z-index: 4;
		}
		.mdl-textfield--file .mdl-textfield__input {
		box-sizing: border-box;
		width: calc(100% - 32px);
		}
		.mdl-textfield--file .mdl-button--file {
		right: 0;
		}
	script(type='text/javascript').
		document.getElementsByClassName('mdl-navigation__link menuselectify')[0].classList.remove('menuselectify')
		document.getElementById('control').classList.add('menuselectify')
	div.mdl-cell.mdl-cell--12-col
		h3(style='text-align:center') Settings
		p(style='text-align:center') Configure Instruction Division Portal
	div.mdl-cell.mdl-cell--12-col
		ul
			li 
				a(href='./control/holidays') Manage Holidays (Room Booking)
			li 
				a(href='./control/portalToggle') Portal Management