extends ../master-dashboard

block content
	- const currentTime = new Date();
	- const currentDay = currentTime.getDay();
	- const currentHour = currentTime.getHours();
	- const currentMinutes = currentTime.getMinutes();

	- const isSaturday = currentDay === 6;
	- const isSunday = currentDay === 0;
	//- open on weekdays 8am - 4pm, saturdays 8am to 12 noon. closed on sundays
	- const portalClosed = (!isSaturday && !isSunday && (currentHour >= 16 || currentHour < 8)) || (isSaturday && (currentHour >= 12 || currentHour < 8)) || isSunday;

	- const portalClosedVar = portalClosed ? true : false;
	- console.log(portalClosed);

	div.mdl-cell.mdl-cell--12-col
		h2 Room Booking Portal

	div.mdl-cell.mdl-cell--12-col.center
		if portalClosedVar
			h6 The Room Booking Portal is has been closed for the day.
			h6 The portal is open for booking during the following hours:
			h6	- Weekdays: 8:00 AM to 4:00 PM
			h6	- Saturdays: 8:00 AM to 12:00 PM
			h6 It shall remain closed on Sundays and institute holidays.
			i We kindly request you to schedule your room bookings in advance to avoid last-minute inconveniences.

		else
			ul.mdl-list
				if dashboard.type == 'Student'
					li.mdl-list__item
						span.mdl-list__item-primary-content
							i.material-icons.mdl-list__item-icon person
							| Student booking the room is responsible for the room and its contents. For club-related activities, prior permission from your FIC must be sent to TD via email

					li.mdl-list__item
						span.mdl-list__item-primary-content
							i.material-icons.mdl-list__item-icon event_seat
							| The existing furniture inside the classroom should not be moved or removed. Permission from Faculty in-charge, TD is needed for the same

					li.mdl-list__item
						span.mdl-list__item-primary-content
							i.material-icons.mdl-list__item-icon local_bar
							| Food and beverages are not allowed inside the classroom

			div.mdl-cell.mdl-cell--6-col.center
				button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--primary(onclick="window.location.replace('#{rootURL}/#{reqPortal}/book')")
					i.material-icons add
					| New Booking
				&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
				button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--primary(onclick="window.location.replace('#{rootURL}/#{reqPortal}/view')")
					i.material-icons settings
					| Manage Bookings
