extends ../master-dashboard

block content
	div.mdl-cell.mdl-cell--12-col
		h2 Room Booking 

	div.mdl-cell.mdl-cell--12-col
		ul.mdl-list
			if dashboard.type == 'Student'
				li.mdl-list__item
					span.mdl-list__item-primary-content
						i.material-icons.mdl-list__item-icon person
						|	Student booking the room is responsible for the room and its contents. For club related activities a prior permission from your FIC must be sent to TTD via email

			li.mdl-list__item
				span.mdl-list__item-primary-content
					i.material-icons.mdl-list__item-icon event_seat
					|	The existing furniture inside the classroom should not be moved or removed. Permission from Faculty in-charge, TD is needed for the same

			li.mdl-list__item
				span.mdl-list__item-primary-content
					i.material-icons.mdl-list__item-icon local_bar
					|	Food and beverages are not allowed inside the classroom

	div.mdl-cell.mdl-cell--6-col.center
		button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--primary(onclick="window.location.replace('#{rootURL}/#{reqPortal}/book')")
			i.material-icons add
			| New Booking

	div.mdl-cell.mdl-cell--6-col.center
		button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--primary(onclick="window.location.replace('#{rootURL}/#{reqPortal}/view')")
			i.material-icons settings
			| Manage Bookings
