extends ../master-dashboard

block content
  link(href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en', rel='stylesheet', type='text/css')
  link(rel='stylesheet', href='/stylesheets/date-picker/mdDateTimePicker.css')
  link(rel='stylesheet' href='/stylesheets/material-alerts.css')
  style.
    .formBG {
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
      margin: 15px;
      background: white;
      width: 100%;
    }

  div.mdl-cell.mdl-cell--12-col.center
    div.formBG
      br
      h4 Reprography Room Booking
      p(style = "font-weight: bold") You are requested to make bookings for a maximum duration of 30 minutes per booking. If you require additional time, please make multiple bookings.
      p(style= "color: red; font-style: italic") Note: Reprography Rooms will be open from 9am to 5pm on weekdays and upto 1pm on Saturdays. They shall remain closed on Sundays and Institute Holidays. 
      p(style= "color: red; font-style: italic") Same day bookings will be closed 30 minutes prior to the closing time.
      form.mdc-form-field#form
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input#date.mdl-textfield__input(type='text', name='date', readonly='true')
          label.mdl-textfield__label(for='date') Start Date
        button.mdl-button.mdl-js-button.mdl-button--icon#dateBtn(type="button")
          i.material-icons calendar_today
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input#date-end.mdl-textfield__input(type='text', name='date-end', readonly='true')
          label.mdl-textfield__label(for='date-end') End Date (Optional)
        button.mdl-button.mdl-js-button.mdl-button--icon#dateBtnEnd(type="button")
          i.material-icons calendar_today
        br
        br
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input#time-start.mdl-textfield__input(type='text', name='time-start', readonly='true')
          label.mdl-textfield__label(for='time-start') Start Time
        button.mdl-button.mdl-js-button.mdl-button--icon#startBtn(type="button")
          i.material-icons alarm
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input#time-end.mdl-textfield__input(type='text', name='time-end', readonly='true')
          label.mdl-textfield__label(for='time-end') End Time
        button.mdl-button.mdl-js-button.mdl-button--icon#endBtn(type="button")
          i.material-icons alarm
        br
        br
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input#phone.mdl-textfield__input(type='text', pattern='-?[0-9]*(\.[0-9]+)?', name='phone')
          label.mdl-textfield__label(for='phone') Phone Number (w/o country code)
          span.mdl-textfield__error Input is not a number!
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input#purpose.mdl-textfield__input(type='text', name='purpose')
          label.mdl-textfield__label(for='purpose') Course ID (Ex: CS F111)
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.getmdl-select.getmdl-select__fix-height.mdc-form-field.getmdl-select__fullwidth
          input#av.mdl-textfield__input(type='text', readonly='', tabindex='-1', name='av')
          label(for='av')
            i.mdl-icon-toggle__label.material-icons keyboard_arrow_down
          label.mdl-textfield__label(for='av') Audio Visual Equipment Required
          ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu(for='av')
            ul
              li.mdl-menu__item Yes
              li.mdl-menu__item No 
        br
        button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored#findBtn(type="button")
          | Find
        br
        br
    br
    .formBG#resDiv.center

  script(src='/scripts/date-picker/moment.min.js')
  script(src='/scripts/axios.min.js')
  script(src='/scripts/date-picker/scroll-into-view-if-needed.min.js')
  script(src='/scripts/date-picker/draggabilly.pkgd.min.js')
  script(src='/scripts/date-picker/mdDateTimePicker.min.js')
  script(type='text/javascript' src='/scripts/material-alerts.js')
  script.
    // Pass superUser status to client-side
    window.isSuperUser = #{isSuperUser || false};
  script(type='text/javascript' src='/scripts/reprography-room-booking.js')

  script.
    document.addEventListener('DOMContentLoaded', function() {
      var avField = document.getElementById('av');
      avField.parentElement.style.display = 'none';
      avField.value = 'No';
    });
