extends ../master-dashboard

block content
	div.mdl-cell.mdl-cell--12-col.pushit
		.mdl-grid.mdl-grid--no-spacing
			.mdl-cell.mdl-cell--12-col
				h5 Welcome to AUGS Division!
			.mdl-cell.mdl-cell--12-col
				p We arranged everything for you in a simple interface.
		.mdl-grid
			.mdl-cell.mdl-cell--4-col
				h5 Get Started
				//- i.material-icons.md-18 keyboard_arrow_left
				| Use the sidebar to access different portals.
				//- button.mdl-button.mdl-js-button.mdl-js-ripple-effect.center
				//- p #{user.name}
			