extends ../../../master-dashboard

block content

    .mdl-grid
        center
            h2 FD THESIS
            h6
                | Forms for Off-Campus Thesis Students:
                br
                a(href="fd-thesis/Off-Campus-Form-A", target="_blank") Off-Campus-Form-A
                br
                a(href="fd-thesis/Off-Campus-Form-B", target="_blank") Off-Campus-Form-B
                br
                hr
                | Guidelines for First Degree Thesis Students:
                br
                a(href="fd-thesis/Pre-allotment-Guidelines", target="_blank") General Guidelines for Pre-Registration of FD thesis.
            hr 