extends ../../../master-dashboard

block content
	.mdl-cell.mdl-cell--12-col
		h2 Upload Files for Registation and Gradution Checking
	.mdl-cell.mdl-cell--12-col
		h5.headline Present Files
		form(action="./reg-grad/addNewForms" method="POST" enctype="multipart/form-data" id="form1").mdc-form-field
			if forms
				ul.old-forms
					each form in forms
						li 
							input(type="text" value=form readonly name=form).old-forms-name
							span
								i.mdl-icon-toggle__label.material-icons.delete-icon minimize
				hr
			.mdl-cell.mdl-cell--12-col
				h5.headline Add new set of files ( Delete old files above if you don't want old files.)
				i(class=" mdl-icon-toggle__label material-icons add-form") add
			.mdl-cell.mdl-cell--12-col
				.mdl-cell.mdl-cell-12-col(id="forms")
					ul.new-forms
			br
	button.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--colored.mdl-button--raised.center(data-stepper-next='', data-upgraded=',MaterialButton,MaterialRipple',type="submit",form="form1")
		| Submit Forms
		span.mdl-button__ripple-container
			span.mdl-ripple
	script(src = "/scripts/fd-thesis.js")