extends ../../../master-dashboard

block content

    .mdl-grid
        center
            h2 Registation and Graduation Checking
            h6
                | Registration and Graduation Checking Portal:
                br
                a(href="https://erp.bits-pilani.ac.in/", target="_blank") ERP
                br
                a(href="fd-thesis/Off-Campus-Form-A", target="_blank") Off-Campus-Form-A
            hr 
